@font-face {
  font-family: forlogin;
  src:url("./fonts/서울한강\ 장체L.ttf") format("truetype");
}

@font-face {
  font-family: fornav;
  src:url('./fonts/NanumSquare_acR.ttf') format("truetype");
}

@font-face {
  font-family: forcntword;
  src:url('./fonts/woman.ttf') format("truetype");
}


.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(73,79,82);
  color: white;
  height: auto;
}

.nav-links {
  width: 100%;
  display: flex;
  align-items: center;
  list-style: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: "Nunito", sans-serif, "forlogin"; */
}

button {
  border: none;
  outline: none;
  width: 100%;
  padding: 15px 0;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  background: #603bbb;
  cursor: pointer;
}

.login {
  width: 100%;
  min-height: 100vh;
  padding: 0 20px;
  background-size : cover;
  background-image: url('./image/night_sky.jpg');
  /* background: #e9e9e9; */
  display: flex;
}

.login .loginContainer {
  padding: 60px;
  margin: auto;
  width: 100%;
  max-width: 520px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: radial-gradient(
    ellipse at left bottom,
    rgba(22, 24, 47, 1) 0%,
    rgba(38, 20, 72, 0.9) 59%,
    rgba(17, 27, 75, 0.9) 100%
  );
  box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.8);
}

.login .loginContainer label {
  /* font-family: Georgia, 'Times New Roman', Times, serif; */
  font-family: forlogin;
  text-align: left;
  /* font-weight: bolder; */
  color: white;
  margin: 14px 0;
  display: block;
  font-size: 22px;
  line-height: 1;
}

.login .loginContainer input {
  font-family: forlogin;
  width: 100%;
  border: none;
  outline: none;
  font-size: 19px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  letter-spacing: 1px;
}

.login .loginContainer .btnContainer {
  width: 100%;
  padding: 24px 0;
}

.login .loginContainer .btnContainer p {
  margin: 14px 0 0 0;
  text-align: right;
  color: #fff;
}

.login .btnContainer {
  font-family: forlogin;
}

.login .loginContainer .btnContainer p span {
  color: yellow;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-left: 5px;
  cursor: pointer;
  transition: all 400ms ease-in-out;
}

.login .loginContainer .btnContainer p span:hover {
  color: red;
}

.login .loginContainer .errorMsg {
  color: red;
  font-size: 16px;
}

.hero {
  width: 100%;
  min-height: 100vh;
  background: radial-gradient(
    ellipse at left bottom,
    rgba(22, 24, 47, 1) 0%,
    rgba(38, 20, 72, 0.9) 59%,
    rgba(17, 27, 75, 0.9) 100%
  );
  /* background-image: url('./image/night_sky.jpg');
  background-size: cover; */
}

.countword {
  width : 70%;
  height: 700px;
  resize: none;
  outline: none;
  /* background-color : #FBD1D3; */
  color:white;
  font-size: 170%;
  font-family : forcntword;
  margin-top: 1%;
  background: radial-gradient(
    ellipse at left bottom,
    rgba(22, 24, 47, 1) 0%,
    rgba(38, 20, 72, 0.9) 59%,
    rgba(17, 27, 75, 0.9) 100%
  );
  padding: 1%;
  margin-bottom: -1%;

}

.word {
  font-family: forcntword;
  width:25%;
  background : none;
  color : #fee5eb;
  text-align:right;
  font-size: 550%;
  font-weight: bolder;
  margin-left: 40%;
  margin-right: 0.5%;
}

.wordza {
  font-family: forcntword;
  color : #fee5eb;
  font-size: 300%;
  padding:.10%;
  font-weight: bolder;
  margin-left: auto;
  align-self: center;
  text-align: right;
}

text {
  color : white;
}

input {
  width:2%;
  height:2%;
  border:none;
}
.hero nav {
  background: #766DC1;
  /* background-image: url('./image/night_sky.jpg');
  background-size: cover; */
  /* background: #603bbb; */
  width: 100%;
  padding: .5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero nav h2 {
  color: #fff;
}

.hero nav button {
  font-family: forlogin;
  width: 10%;
  padding: 1% 0;
  border-radius: 5%;
  background: #3a2b58;
}

.question_mark {
  max-width: 5%;
  max-height: 1.8%;
  margin-left: -80%;
  margin-top: -.5%;
  filter:invert(100%);
  /* background-size:cover; */
  /* background-image: url("./image/question_mark.png"); */
}

.question_mark2 {
  max-width: 15%;
}

.addtext {
  width: 50%;
  border : 5px black;
  /* margin-top: 2.5%; */
  margin-bottom: 0.5%;
  line-height: 100%;
  border-style: solid;
  border-width: 1px;
  align-items: center;
  margin-left: auto;
  resize: none;
  align-self:center;
}

.sendbtn {
  width : 50%;
  height : 50px;
  margin-top : 2.5%;
  line-height: 300%;
  margin-bottom: 4.5%;
}

.sendmessage {
  width : 80%;
  height : auto;
  resize: none;
  margin-top : 2.5%;
  line-height: 200%;
}

.name {
  width: 80%;
  border : 5px black;
  margin-top: -4.5%;
  margin-bottom: 0.5%;
  border-style: solid;
  border-width: 1px;
  line-height: 300%;
  height: auto;
}

.mailTitle {
  margin-top: 2.5%;

}

.qnabtn {
  color-adjust : white;
}

.table{
  background-color: white;
}

.plus_mark {
  height : 30px;
  /* filter: invert(); */
}

/* .container {

} */

.newwrite {
  font-size : 50%;
  color : black;
}

.showwrite {
  font-size : 50%;
  color : white;
}

.formtext {
  color : black;
  font-size : 120%;
  text-align: center;
}

.text {
  resize : none;

}

.addComment {
  float : left;
}

.addbtn {
  width:30%;
  /* 안먹힘 */
  /* background: #603bbb; */
}

.stopcomment {
  color: black;
}

.labelemail {
  
  text-align: left;
}

.labelpf {
  font-family: forlogin;
  font-weight: bold;
  font-size: xx-large;
  color : white;
  margin-bottom: 5%;
}

.navtext {
  font-family: fornav;
  margin-top: 15%;
  margin-bottom: -5%;
  font-size: 150%;
}

/* 이부분 다시 */
.navfirst {
  margin:auto;
  font-family: fornav;
  margin-top: 12%;
  margin-right: -35%;
  width:100%;
}
.navsecond {
  margin:auto;
  font-family: fornav;
  margin-top: 12%;
  margin-right: -35%;
  width:100%;
}
.navthird {
  margin:auto;
  font-family: fornav;
  margin-top: 12%;
  margin-right: -35%;
  width:100%;
}

.navtexttext {
  font-family: fornav;
  width:30%;
  margin-top: .5%; 
  font-size: small;
  text-align: center;
  margin-right: -18%;
}

.pfh3 {
  font-family: forlogin;
  font-weight: bold;
  width: 150%;
  margin-left: 30%;
  margin-top: 5%;
  font-size: 150%;
}

.propsname {
  font-weight: bold;
  margin : .1%;
  font-size: 110%;
}

.newtable {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  width: 80%;
  height: auto;
}

.logoutbtn {
  margin-left: -2%;
  height: 50%;
  margin-top: 2%;
}

.logoutlink {
  width : 85%;
  margin-left: 1%;
}

Link {
  width:85%;
}

.slider {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 1000px;
  height: 600px;
  border-radius: 10px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}
